.frame-7,
.frame-7 * {
  box-sizing: border-box;
}
.frame-7 {
  height: 812px;
  position: relative;
}
.frame-66 {
  width: 375px;
  height: 812px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.feature-screen-2 {
  position: absolute;
  inset: 0;
}
.button-danger {
  background: var(--var-sds-color-background-danger-default, #ec221f);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 81.39px;
  height: 32.8px;
  position: absolute;
  left: 43.04px;
  top: 227.6px;
  overflow: hidden;
}
.rectangle-11 {
  background: #dadada;
  border-radius: 32px;
  width: 375px;
  height: 812px;
  position: absolute;
  left: -2px;
  top: 5px;
}
.trifle-me-boronic-dhe-limon {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 294.7px;
  top: 637.08px;
  width: 74.85px;
  height: 26.83px;
}
.pak-mb-lsi-shum-lumturi {
  color: #000000;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 43.04px;
  top: 113.3px;
  width: 232.96px;
  height: 41.74px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.search-bar {
  background: var(--schemes-surface-container-high, #ece6f0);
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  width: 378px;
  height: 53px;
  min-width: 360px;
  max-width: 720px;
  position: absolute;
  left: 36px;
  top: 143px;
  overflow: hidden;
}
.state-layer {
  padding: 4px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.leading-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.container {
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.state-layer2 {
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.supporting-text {
  color: var(--schemes-on-surface-variant, #49454f);
  text-align: left;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 16px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trailing-elements {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  position: relative;
}
._1st-trailing-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  position: relative;
}
.icon2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.settings {
  border-radius: 32px;
  width: 22.45px;
  height: 23.85px;
  position: absolute;
  left: 52.39px;
  top: 56.65px;
  overflow: visible;
}
.avatar {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: 32px;
  width: 37.42px;
  height: 39.76px;
  position: absolute;
  left: 324.64px;
  top: 48.7px;
  overflow: hidden;
}
.initials {
  color: var(--var-sds-color-text-brand-on-brand, #f5f5f5);
  text-align: center;
  font-family: var(--subheading-font-family, "Inter-Regular", sans-serif);
  font-size: var(--subheading-font-size, 20px);
  line-height: var(--subheading-line-height, 120%);
  font-weight: var(--subheading-font-weight, 400);
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-danger2 {
  background: var(--var-sds-color-background-danger-secondary-hover, #fcb3ad);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-on-danger, #fee9e7);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 106.65px;
  height: 32.8px;
  position: absolute;
  left: 137.53px;
  top: 227.6px;
  overflow: hidden;
}
.desertet {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: absolute;
  left: 163.72px;
  top: 236.54px;
  width: 106.65px;
  height: 15.9px;
}
._6277-a-19-f-8-d-0-b-4-a-92-97-f-3-5323-c-7-e-29-d-16-removebg-preview-2-1 {
  border-radius: 32px;
  width: 119.75px;
  height: 97.4px;
  position: absolute;
  left: 68.97px;
  top: 217.66px;
  object-fit: cover;
}
.button-danger3 {
  background: var(--var-sds-color-background-danger-secondary-hover, #fcb3ad);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-on-danger, #fee9e7);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 81.39px;
  height: 32.8px;
  position: absolute;
  left: 250.73px;
  top: 227.6px;
  overflow: hidden;
}
.button-danger4 {
  background: var(--var-sds-color-background-danger-secondary-hover, #fcb3ad);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-on-danger, #fee9e7);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 41.16px;
  height: 32.8px;
  position: absolute;
  left: 338.67px;
  top: 227.6px;
  overflow: hidden;
}
.produkte-t-ngjashme {
  color: #000000;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 14px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 43.04px;
  top: 302.14px;
  width: 152.5px;
  height: 11.93px;
}
.button-danger5 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 156.24px;
  height: 157.03px;
  position: absolute;
  left: 43.04px;
  top: 329.97px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.ambrosia {
  color: #000000;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 9px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 77.65px;
  top: 457.18px;
  width: 68.3px;
  height: 18.88px;
}
._4-50 {
  color: #ff5151;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 7px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 162.79px;
  top: 457.18px;
  width: 18.71px;
  height: 13.91px;
}
.button-danger6 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 155.3px;
  height: 157.03px;
  position: absolute;
  left: 214.24px;
  top: 329.97px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
._4-502 {
  color: #ec221f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 7px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 338.67px;
  top: 458.18px;
  width: 23.39px;
  height: 7.95px;
}
.button-danger7 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 72.04px;
  height: 59.63px;
  position: absolute;
  left: 43.04px;
  top: 569.49px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.akullore {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 56.59px;
  top: 639px;
  width: 46.98px;
  height: 18px;
}
.button-danger8 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 72.97px;
  height: 59.63px;
  position: absolute;
  left: 125.37px;
  top: 569.49px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.button-danger9 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 75.78px;
  height: 59.63px;
  position: absolute;
  left: 208.63px;
  top: 569.49px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.tiramisu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 139.88px;
  top: 639px;
  width: 51.25px;
  height: 18px;
}
.shiko-t-gjitha {
  color: #ec221f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 300.32px;
  top: 547.63px;
  width: 69.23px;
  height: 21.87px;
}
.button-danger10 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-icon-danger-tertiary, #ec221f);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 72.04px;
  height: 59.63px;
  position: absolute;
  left: 294.7px;
  top: 569.49px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.sallat-frutash-meksikane {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 8px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 239.51px;
  top: 457.18px;
  width: 92.62px;
  height: 15.9px;
}
.mexican-fruit-salad-pboab-8-removebg-preview-1 {
  border-radius: 32px;
  width: 74.25px;
  height: 74.25px;
  position: absolute;
  left: 254.3px;
  top: 363.91px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.image-11 {
  border-radius: 32px;
  width: 64.55px;
  height: 52.68px;
  position: absolute;
  left: 214.24px;
  top: 573.47px;
}
.jogurt-me-moll-t-karamelizuar {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 9px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 207.7px;
  top: 636.08px;
  width: 77.65px;
  height: 26.83px;
}
.button-danger11 {
  background: var(--var-sds-color-background-disabled-default, #d9d9d9);
  border-radius: 32px;
  border-style: solid;
  border-color: var(--var-sds-color-border-danger-secondary, #c00f0c);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 322.77px;
  height: 59.63px;
  position: absolute;
  left: 43.04px;
  top: 714.6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.code {
  border-radius: 32px;
  width: 37.42px;
  height: 38.76px;
  position: absolute;
  left: 191.79px;
  top: 725.53px;
  overflow: visible;
}
.search {
  border-radius: 32px;
  width: 34.62px;
  height: 35.78px;
  position: absolute;
  left: 122.56px;
  top: 727.52px;
  overflow: visible;
}
.home {
  width: 36.49px;
  height: 35.78px;
  position: absolute;
  left: 54.26px;
  top: 726.53px;
  overflow: visible;
}
.bell {
  border-radius: 32px;
  width: 35.55px;
  height: 38.76px;
  position: absolute;
  left: 316.22px;
  top: 725.53px;
  overflow: visible;
}
.favorite {
  border-radius: 32px;
  width: 32.74px;
  height: 36.77px;
  position: absolute;
  left: 256.35px;
  top: 726.53px;
  overflow: visible;
}
.button-danger12 {
  background: var(--var-sds-color-background-danger-default, #ec221f);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--var-sds-color-border-danger-secondary, #c00f0c);
  border-width: 1px;
  padding: var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: center;
  justify-content: center;
  width: 91.69px;
  height: 32.8px;
  position: absolute;
  left: 38.36px;
  top: 227.6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.sallatat {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: absolute;
  left: 66.43px;
  top: 236.54px;
  width: 106.65px;
  height: 15.9px;
}
.shiko-m-shum {
  color: #ec221f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 11px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 288.15px;
  top: 312.08px;
  width: 94.49px;
  height: 12.92px;
}
.produktet-m-t-k-rkuara {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 43.04px;
  top: 543.65px;
  width: 181.5px;
  height: 6.96px;
}
.pij {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: absolute;
  left: 361.13px;
  top: 235.55px;
  width: 16.84px;
  height: 31.8px;
}
.frutat {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: absolute;
  left: 276.93px;
  top: 237.54px;
  width: 43.04px;
  height: 31.8px;
}
.drink-icons-meiluns-shop-removebg-preview-1 {
  border-radius: 32px;
  width: 64.55px;
  height: 68.58px;
  position: absolute;
  left: 298.45px;
  top: 230.58px;
  object-fit: cover;
}
.premium-vector-fruit-vector-collection-design-removebg-preview-1 {
  border-radius: 32px;
  width: 66.43px;
  height: 53.67px;
  position: absolute;
  left: -2px;
  top: 217.66px;
  object-fit: cover;
}
.animal-crossing-fruits-twitch-emotes-and-badges-acnh-fruit-set-removebg-preview-1-1 {
  border-radius: 32px;
  width: 96.36px;
  height: 94.42px;
  position: absolute;
  left: 180.56px;
  top: 201.76px;
  object-fit: cover;
}
.wifi {
  border-radius: 0px;
  width: 12.01px;
  height: 10.9px;
  position: absolute;
  left: 257.23px;
  top: 22.86px;
  overflow: visible;
}
.battery {
  width: 5.1%;
  height: 1.39%;
  position: absolute;
  right: 21.9%;
  left: 73%;
  bottom: 95.68%;
  top: 2.94%;
  overflow: visible;
}
.mobile-signal {
  border-radius: 0px;
  width: 13.37px;
  height: 10.6px;
  position: absolute;
  left: 239.14px;
  top: 21.87px;
  overflow: visible;
}
.bluberry-removebg-preview-1 {
  border-radius: 32px;
  width: 45.84px;
  height: 60.63px;
  position: absolute;
  left: 305.93px;
  top: 575.46px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.caramelized-apple-yogurt-parfaits-dessert-jars-25-feat-removebg-preview-1 {
  border-radius: 32px;
  width: 58.82px;
  height: 58.82px;
  position: absolute;
  left: 218.98px;
  top: 569.4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
._25-fddad-4-3-a-08-4701-a-4-b-9-f-8-eb-4771249-d-removebg-preview-1 {
  border-radius: 8px;
  opacity: 0.8;
  width: 81.96px;
  height: 81.96px;
  position: absolute;
  left: 123.09px;
  top: 546.68px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.b-nny-removebg-preview-1 {
  border-radius: 32px;
  width: 27.04px;
  height: 50.07px;
  position: absolute;
  left: 64.15px;
  top: 575.23px;
  aspect-ratio: 27.04/50.07;
}
.cherry-pie-ice-cream-removebg-preview-1 {
  border-radius: 32px;
  opacity: 0.8;
  width: 54px;
  height: 73.29px;
  position: absolute;
  left: 52.52px;
  top: 559.69px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 54/73.29;
}
.ambrosia-salad-cool-whip-removebg-preview-1 {
  border-radius: 32px;
  opacity: 0.7;
  width: 74.25px;
  height: 74.25px;
  position: absolute;
  left: 82.16px;
  top: 376.83px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  aspect-ratio: 1;
}
.time-style {
  border-radius: 32px;
  width: 11.33%;
  height: 2.57%;
  position: absolute;
  right: 77.55%;
  left: 11.12%;
  bottom: 94.37%;
  top: 3.06%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.task-platter {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
._9-42 {
  color: #ffffff;
  text-align: center;
  font-family: "Jua-Regular", sans-serif;
  font-size: 15px;
  letter-spacing: -0.02em;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 14.29%;
  height: 85.71%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.feature-screen-22 {
  border-radius: 32px;
  width: 350.84px;
  height: 43.73px;
  position: absolute;
  left: 48.52px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rectangle-15 {
  background: #ec221f;
  border-radius: 32px;
  width: 66.93%;
  height: 99.38%;
  position: absolute;
  right: -0.53%;
  left: 33.6%;
  bottom: 0%;
  top: 0.62%;
}
.ellipse-18 {
  background: #ec221f;
  border-radius: 50%;
  width: 146.88px;
  height: 135.17px;
  position: absolute;
  left: 99.04px;
  top: 84.48px;
}
.avatar2 {
  background: var(--var-sds-color-background-brand-default, #2c2c2c);
  border-radius: 9999px;
  width: 75.78px;
  height: 77.52px;
  position: absolute;
  left: 125.23px;
  top: 113.3px;
  overflow: hidden;
}
.settings2 {
  border-radius: 32px;
  width: 20.58px;
  height: 22.86px;
  position: absolute;
  left: 185px;
  top: 546px;
  overflow: visible;
}
.help-circle {
  border-radius: 32px;
  width: 23.39px;
  height: 23.85px;
  position: absolute;
  left: 180px;
  top: 600px;
  overflow: visible;
}
.user {
  border-radius: 32px;
  width: 21.52px;
  height: 23.85px;
  position: absolute;
  left: 185px;
  top: 299px;
  overflow: visible;
}
.database {
  border-radius: 32px;
  width: 21.52px;
  height: 23.85px;
  position: absolute;
  left: 186px;
  top: 239px;
  overflow: visible;
}
.map-pin {
  border-radius: 32px;
  width: 21.52px;
  height: 21.87px;
  position: absolute;
  left: 183px;
  top: 366px;
  overflow: visible;
}
.mail {
  border-radius: 32px;
  width: 21.52px;
  height: 23.85px;
  position: absolute;
  left: 182px;
  top: 490px;
  overflow: visible;
}
.credit-card {
  border-radius: 32px;
  width: 22.45px;
  height: 19.88px;
  position: absolute;
  left: 181px;
  top: 432px;
  overflow: visible;
}
.rectangle-17 {
  background: #ec221f;
  border-radius: 32px;
  width: 188px;
  height: 807px;
  position: absolute;
  left: 236px;
  top: 5px;
}
.era-krasniqi {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 25px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 187px;
  top: 76px;
  width: 185.8px;
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.era-123-gmail-com {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 204px;
  top: 141px;
  width: 167.64px;
  height: 38px;
}
.porsit {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 219px;
  top: 239px;
  width: 47.71px;
  height: 37.77px;
}
.adresa-vendbanimi {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 199px;
  top: 367px;
  width: 181.52px;
  height: 57px;
}
.menyrat-e-pageses {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 209px;
  top: 434px;
  width: 155.9px;
  height: 38px;
}
.kontkti {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 216px;
  top: 493px;
  width: 58.01px;
  height: 37.77px;
}
.cil-smet {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 214px;
  top: 548px;
  width: 82.22px;
  height: 38px;
}
.ndihm-pyetje {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 211px;
  top: 607px;
  width: 126px;
  height: 38px;
}
.rectangle-16 {
  background: #ffffff;
  border-radius: 32px;
  width: 39.23%;
  height: 6.24%;
  position: absolute;
  right: -22.51%;
  left: 83.28%;
  bottom: 4.72%;
  top: 89.04%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.profili {
  color: #ffffff;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 120px;
  top: 261px;
  width: 85px;
  height: 27px;
}
.shkyqu {
  color: #ec221f;
  text-align: center;
  font-family: "ABeeZee-Regular", sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: 400;
  position: absolute;
  left: 157px;
  top: 745px;
  width: 82px;
  height: 27px;
}
