.frame-8,
.frame-8 * {
  box-sizing: border-box;
}
.frame-8 {
  height: 836px;
  position: relative;
}
.group-68 {
  position: absolute;
  inset: 0;
}
.splash-screen {
  background: #ffffff;
  border-radius: 32px;
  width: 375px;
  height: 812px;
  position: absolute;
  left: 7.3px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0.515deg) scale(1, 1);
  overflow: hidden;
}
.group-28 {
  position: absolute;
  inset: 0;
}
.red-and-pink-illustrated-cake-logo {
  width: 375px;
  height: 812px;
  position: absolute;
  left: 0.54px;
  top: 20.33px;
  object-fit: cover;
}
.ui-bars-status-bars-time-red-task {
  width: 375px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.battery {
  width: 6.49%;
  height: 25.76%;
  position: absolute;
  right: 3.91%;
  left: 89.6%;
  bottom: 34.85%;
  top: 39.39%;
  overflow: visible;
}
.wifi {
  width: 15.27px;
  height: 10.97px;
  position: absolute;
  left: 315.69px;
  top: 17.33px;
  overflow: visible;
}
.mobile-signal {
  width: 17px;
  height: 10.67px;
  position: absolute;
  left: 293.67px;
  top: 17.67px;
  overflow: visible;
}
.time-style {
  width: 14.4%;
  height: 47.73%;
  position: absolute;
  right: 80%;
  left: 5.6%;
  bottom: 25%;
  top: 27.27%;
}
.task-platter {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
._9-41 {
  color: #ffffff;
  text-align: center;
  font-family: "SfProText-Semibold", sans-serif;
  font-size: 15px;
  letter-spacing: -0.02em;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 4.76%;
  top: 9.52%;
  height: 85.71%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.ellipse-1 {
  width: 294px;
  height: 13px;
  position: absolute;
  left: 37px;
  top: 521px;
  overflow: visible;
}
.ellipse-13 {
  background: #ff5151;
  border-radius: 50%;
  width: 22.02px;
  height: 23px;
  position: absolute;
  left: 301px;
  top: 271.12px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-14 {
  background: #ff5151;
  border-radius: 50%;
  width: 10.05px;
  height: 9.95px;
  position: absolute;
  left: 53.95px;
  top: 248.05px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-15 {
  background: #ff5151;
  border-radius: 50%;
  width: 15.09px;
  height: 16.92px;
  position: absolute;
  left: 80.91px;
  top: 691.08px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-16 {
  background: #ff5151;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 288px;
  top: 91.13px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-17 {
  background: #ff5151;
  border-radius: 50%;
  width: 15.08px;
  height: 15.92px;
  position: absolute;
  left: 192.92px;
  top: 594.08px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-18 {
  background: #ff5151;
  border-radius: 50%;
  width: 16.09px;
  height: 16.91px;
  position: absolute;
  left: 294.91px;
  top: 667.09px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-12 {
  background: #ff5151;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 96px;
  top: 79.13px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-19 {
  background: #ff5151;
  border-radius: 50%;
  width: 14.45px;
  height: 13.88px;
  position: absolute;
  left: 215.93px;
  top: 169.12px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
.ellipse-20 {
  background: #ff5151;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 203px;
  top: 756.13px;
  transform-origin: 0 0;
  transform: rotate(-0.304deg) scale(1, 1);
}
